.cloak-link {
  background: red !important;
}

.code-block-header button {
  display: none;
}

.cta-button {
  background: #ff8500 !important;
  border-radius: 3px !important;
  padding: 5px !important;
  color: white !important;
  text-align: center !important;
  margin-bottom: 10px;
}

